// Clocks

LOCATE COMP "clk" SITE "N22";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "io_clock32MHz" SITE "N22";
IOBUF PORT "io_clock32MHz" IO_TYPE=LVCMOS33;

LOCATE COMP "io_clock100MHz" SITE "K23";
IOBUF PORT "io_clock100MHz" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vcxo_control" SITE "H26";
IOBUF PORT "io_vcxo_control" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vcxo_clockOut" SITE "L23";
IOBUF PORT "io_vcxo_clockOut" IO_TYPE=LVCMOS33;

LOCATE COMP "serdes_p_clk" SITE "AF12";
IOBUF PORT "serdes_p_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "serdes_n_clk" SITE "AF13";
IOBUF PORT "serdes_n_clk" IO_TYPE=LVCMOS33;

// Reset

LOCATE COMP "resetn" SITE "N5";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

LOCATE COMP "io_reset" SITE "N5";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

LOCATE COMP "io_self_reset" SITE "M6";
IOBUF PORT "io_self_reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_ftdi_reset" SITE "P23";
IOBUF PORT "io_ftdi_reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_usb_phy_reset" SITE "E23";
IOBUF PORT "io_usb_phy_reset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_ethernet_phy_reset" SITE "C13";
IOBUF PORT "io_ethernet_phy_reset" IO_TYPE=LVCMOS33;

// Debug

LOCATE COMP "io_uart_rx" SITE "R26";
IOBUF PORT "io_uart_rx" SLEWRATE=FAST;
IOBUF PORT "io_uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "io_uart_rxd" SITE "R26";
IOBUF PORT "io_uart_rxd" SLEWRATE=FAST;
IOBUF PORT "io_uart_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "io_uart_tx" SITE "R24";
IOBUF PORT "io_uart_tx" SLEWRATE=FAST;
IOBUF PORT "io_uart_tx" IO_TYPE=LVCMOS33;

LOCATE COMP "io_uart_txd" SITE "R24";
IOBUF PORT "io_uart_txd" SLEWRATE=FAST;
IOBUF PORT "io_uart_txd" IO_TYPE=LVCMOS33;

// LED0

LOCATE COMP "io_led0_r" SITE "T23";
IOBUF PORT "io_led0_r" SLEWRATE=FAST;
IOBUF PORT "io_led0_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led0_g" SITE "R21";
IOBUF PORT "io_led0_g" SLEWRATE=FAST;
IOBUF PORT "io_led0_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led0_b" SITE "T22";
IOBUF PORT "io_led0_b" SLEWRATE=FAST;
IOBUF PORT "io_led0_b" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_0_r" SITE "T23";
IOBUF PORT "io_leds_leds_0_r" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_0_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_0_g" SITE "R21";
IOBUF PORT "io_leds_leds_0_g" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_0_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_0_b" SITE "T22";
IOBUF PORT "io_leds_leds_0_b" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_0_b" IO_TYPE=LVCMOS33;

// LED1

LOCATE COMP "io_led1_r" SITE "U21";
IOBUF PORT "io_led1_r" SLEWRATE=FAST;
IOBUF PORT "io_led1_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led1_g" SITE "W21";
IOBUF PORT "io_led1_g" SLEWRATE=FAST;
IOBUF PORT "io_led1_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led1_b" SITE "T24";
IOBUF PORT "io_led1_b" SLEWRATE=FAST;
IOBUF PORT "io_led1_b" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_1_r" SITE "U21";
IOBUF PORT "io_leds_leds_1_r" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_1_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_1_g" SITE "W21";
IOBUF PORT "io_leds_leds_1_g" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_1_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_1_b" SITE "T24";
IOBUF PORT "io_leds_leds_1_b" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_1_b" IO_TYPE=LVCMOS33;

// LED2

LOCATE COMP "io_led2_r" SITE "K21";
IOBUF PORT "io_led2_r" SLEWRATE=FAST;
IOBUF PORT "io_led2_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led2_g" SITE "K24";
IOBUF PORT "io_led2_g" SLEWRATE=FAST;
IOBUF PORT "io_led2_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led2_b" SITE "M21";
IOBUF PORT "io_led2_b" SLEWRATE=FAST;
IOBUF PORT "io_led2_b" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_2_r" SITE "K21";
IOBUF PORT "io_leds_leds_2_r" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_2_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_2_g" SITE "K24";
IOBUF PORT "io_leds_leds_2_g" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_2_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_2_b" SITE "M21";
IOBUF PORT "io_leds_leds_2_b" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_2_b" IO_TYPE=LVCMOS33;

// LED3

LOCATE COMP "io_led3_r" SITE "P21";
IOBUF PORT "io_led3_r" SLEWRATE=FAST;
IOBUF PORT "io_led3_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led3_g" SITE "R23";
IOBUF PORT "io_led3_g" SLEWRATE=FAST;
IOBUF PORT "io_led3_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_led3_b" SITE "P22";
IOBUF PORT "io_led3_b" SLEWRATE=FAST;
IOBUF PORT "io_led3_b" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_3_r" SITE "P21";
IOBUF PORT "io_leds_leds_3_r" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_3_r" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_3_g" SITE "R23";
IOBUF PORT "io_leds_leds_3_g" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_3_g" IO_TYPE=LVCMOS33;

LOCATE COMP "io_leds_leds_3_b" SITE "P22";
IOBUF PORT "io_leds_leds_3_b" SLEWRATE=FAST;
IOBUF PORT "io_leds_leds_3_b" IO_TYPE=LVCMOS33;

// DDR

LOCATE COMP "io_ddram_ODT" SITE "P3";
IOBUF PORT "io_ddram_ODT" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ODT" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_CK" SITE "H3";
IOBUF PORT "io_ddram_CK" SLEWRATE=FAST;
IOBUF PORT "io_ddram_CK" IO_TYPE=SSTL15D_I;

LOCATE COMP "io_ddram_CKn" SITE "J3";
IOBUF PORT "io_ddram_CKn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_CKn" IO_TYPE=SSTL15D_I;

LOCATE COMP "io_ddram_CASn" SITE "P2";
IOBUF PORT "io_ddram_CASn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_CASn" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_CKE" SITE "P1";
IOBUF PORT "io_ddram_CKE" SLEWRATE=FAST;
IOBUF PORT "io_ddram_CKE" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_RASn" SITE "T3";
IOBUF PORT "io_ddram_RASn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_RASn" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_WEn" SITE "R3";
IOBUF PORT "io_ddram_WEn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_WEn" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_RESETn" SITE "N6";
IOBUF PORT "io_ddram_RESETn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_RESETn" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_CSn" SITE "AA2";
IOBUF PORT "io_ddram_CSn" SLEWRATE=FAST;
IOBUF PORT "io_ddram_CSn" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_DQM[0]" SITE "U4";
IOBUF PORT "io_ddram_DQM[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQM[0]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_DQM[1]" SITE "U1";
IOBUF PORT "io_ddram_DQM[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQM[1]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_DQS[0]" SITE "V4";
IOBUF PORT "io_ddram_DQS[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQS[0]" IO_TYPE=SSTL15D_I;
IOBUF PORT "io_ddram_DQS[0]" TERMINATION=OFF;
IOBUF PORT "io_ddram_DQS[0]" DIFFRESISTOR=100;

LOCATE COMP "io_ddram_DQS[1]" SITE "V1";
IOBUF PORT "io_ddram_DQS[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQS[1]" IO_TYPE=SSTL15D_I;
IOBUF PORT "io_ddram_DQS[1]" TERMINATION=OFF;
IOBUF PORT "io_ddram_DQS[1]" DIFFRESISTOR=100;

LOCATE COMP "io_ddram_DQSn[0]" SITE "U5";
IOBUF PORT "io_ddram_DQSn[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQSn[0]" IO_TYPE=SSTL15D_I;
IOBUF PORT "io_ddram_DQSn[0]" TERMINATION=OFF;
IOBUF PORT "io_ddram_DQSn[0]" DIFFRESISTOR=100;

LOCATE COMP "io_ddram_DQSn[1]" SITE "U2";
IOBUF PORT "io_ddram_DQSn[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQSn[1]" IO_TYPE=SSTL15D_I;
IOBUF PORT "io_ddram_DQSn[1]" TERMINATION=OFF;
IOBUF PORT "io_ddram_DQSn[1]" DIFFRESISTOR=100;

LOCATE COMP "io_ddram_ADDR[0]" SITE "T5";
IOBUF PORT "io_ddram_ADDR[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[0]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[1]" SITE "M3";
IOBUF PORT "io_ddram_ADDR[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[1]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[2]" SITE "L3";
IOBUF PORT "io_ddram_ADDR[2]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[2]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[3]" SITE "V6";
IOBUF PORT "io_ddram_ADDR[3]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[3]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[4]" SITE "K2";
IOBUF PORT "io_ddram_ADDR[4]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[4]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[5]" SITE "W6";
IOBUF PORT "io_ddram_ADDR[5]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[5]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[6]" SITE "K3";
IOBUF PORT "io_ddram_ADDR[6]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[6]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[7]" SITE "L1";
IOBUF PORT "io_ddram_ADDR[7]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[7]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[8]" SITE "H2";
IOBUF PORT "io_ddram_ADDR[8]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[8]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[9]" SITE "L2";
IOBUF PORT "io_ddram_ADDR[9]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[9]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[10]" SITE "N1";
IOBUF PORT "io_ddram_ADDR[10]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[10]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[11]" SITE "J1";
IOBUF PORT "io_ddram_ADDR[11]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[11]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[12]" SITE "M1";
IOBUF PORT "io_ddram_ADDR[12]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[12]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[13]" SITE "K1";
IOBUF PORT "io_ddram_ADDR[13]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[13]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_ADDR[14]" SITE "H1";
IOBUF PORT "io_ddram_ADDR[14]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_ADDR[14]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_BA[0]" SITE "U6";
IOBUF PORT "io_ddram_BA[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_BA[0]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_BA[1]" SITE "N3";
IOBUF PORT "io_ddram_BA[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_BA[1]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_BA[2]" SITE "N4";
IOBUF PORT "io_ddram_BA[2]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_BA[2]" IO_TYPE=SSTL15_I;

LOCATE COMP "io_ddram_DQ[0]" SITE "T4";
IOBUF PORT "io_ddram_DQ[0]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[0]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[0]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[1]" SITE "W4";
IOBUF PORT "io_ddram_DQ[1]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[1]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[1]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[2]" SITE "R4";
IOBUF PORT "io_ddram_DQ[2]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[2]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[2]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[3]" SITE "W5";
IOBUF PORT "io_ddram_DQ[3]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[3]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[3]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[4]" SITE "R6";
IOBUF PORT "io_ddram_DQ[4]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[4]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[4]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[5]" SITE "P6";
IOBUF PORT "io_ddram_DQ[5]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[5]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[5]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[6]" SITE "P5";
IOBUF PORT "io_ddram_DQ[6]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[6]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[6]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[7]" SITE "P4";
IOBUF PORT "io_ddram_DQ[7]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[7]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[7]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[8]" SITE "R1";
IOBUF PORT "io_ddram_DQ[8]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[8]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[8]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[9]" SITE "W3";
IOBUF PORT "io_ddram_DQ[9]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[9]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[9]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[10]" SITE "T2";
IOBUF PORT "io_ddram_DQ[10]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[10]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[10]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[11]" SITE "V3";
IOBUF PORT "io_ddram_DQ[11]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[11]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[11]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[12]" SITE "U3";
IOBUF PORT "io_ddram_DQ[12]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[12]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[12]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[13]" SITE "W1";
IOBUF PORT "io_ddram_DQ[13]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[13]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[13]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[14]" SITE "T1";
IOBUF PORT "io_ddram_DQ[14]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[14]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[14]" TERMINATION=75;

LOCATE COMP "io_ddram_DQ[15]" SITE "W2";
IOBUF PORT "io_ddram_DQ[15]" SLEWRATE=FAST;
IOBUF PORT "io_ddram_DQ[15]" IO_TYPE=SSTL15_I;
IOBUF PORT "io_ddram_DQ[15]" TERMINATION=75;

// Flash

LOCATE COMP "io_flash_data[0]" SITE "AE2";
IOBUF PORT "io_flash_data[0]" SLEWRATE=FAST;
IOBUF PORT "io_flash_data[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flash_data[1]" SITE "AD2";
IOBUF PORT "io_flash_data[1]" SLEWRATE=FAST;
IOBUF PORT "io_flash_data[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flash_data[2]" SITE "AF2";
IOBUF PORT "io_flash_data[2]" SLEWRATE=FAST;
IOBUF PORT "io_flash_data[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flash_data[3]" SITE "AE1";
IOBUF PORT "io_flash_data[3]" SLEWRATE=FAST;
IOBUF PORT "io_flash_data[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flash_chipSelect" SITE "AA2";
IOBUF PORT "io_flash_chipSelect" SLEWRATE=FAST;
IOBUF PORT "io_flash_chipSelect" IO_TYPE=LVCMOS33;

LOCATE COMP "io_flash_clock" SITE "AE3";
IOBUF PORT "io_flash_clock" SLEWRATE=FAST;
IOBUF PORT "io_flash_clock" IO_TYPE=LVCMOS33;

// HDMI

LOCATE COMP "io_hdmiReset" SITE "N6";
IOBUF PORT "io_hdmiReset" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pixelClock" SITE "C1";
IOBUF PORT "io_pixelClock" SLEWRATE=FAST;
IOBUF PORT "io_pixelClock" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_vSync" SITE "A4";
IOBUF PORT "io_vga_vSync" SLEWRATE=FAST;
IOBUF PORT "io_vga_vSync" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_hSync" SITE "B4";
IOBUF PORT "io_vga_hSync" SLEWRATE=FAST;
IOBUF PORT "io_vga_hSync" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_colorEn" SITE "A3";
IOBUF PORT "io_vga_colorEn" SLEWRATE=FAST;
IOBUF PORT "io_vga_colorEn" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[0]" SITE "AD26";
IOBUF PORT "io_vga_color_r[0]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[1]" SITE "AE25";
IOBUF PORT "io_vga_color_r[1]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[2]" SITE "AF25";
IOBUF PORT "io_vga_color_r[2]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[3]" SITE "AE26";
IOBUF PORT "io_vga_color_r[3]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[4]" SITE "E10";
IOBUF PORT "io_vga_color_r[4]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[5]" SITE "D11";
IOBUF PORT "io_vga_color_r[5]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[6]" SITE "D10";
IOBUF PORT "io_vga_color_r[6]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[7]" SITE "C10";
IOBUF PORT "io_vga_color_r[7]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[8]" SITE "D9";
IOBUF PORT "io_vga_color_r[8]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[9]" SITE "E8";
IOBUF PORT "io_vga_color_r[9]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[10]" SITE "H5";
IOBUF PORT "io_vga_color_r[10]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_r[11]" SITE "J4";
IOBUF PORT "io_vga_color_r[11]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_r[11]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[0]" SITE "AA23";
IOBUF PORT "io_vga_color_g[0]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[1]" SITE "AA22";
IOBUF PORT "io_vga_color_g[1]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[2]" SITE "AA24";
IOBUF PORT "io_vga_color_g[2]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[3]" SITE "AA25";
IOBUF PORT "io_vga_color_g[3]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[4]" SITE "E1";
IOBUF PORT "io_vga_color_g[4]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[5]" SITE "F2";
IOBUF PORT "io_vga_color_g[5]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[6]" SITE "F1";
IOBUF PORT "io_vga_color_g[6]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[7]" SITE "D17";
IOBUF PORT "io_vga_color_g[7]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[8]" SITE "D16";
IOBUF PORT "io_vga_color_g[8]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[9]" SITE "E16";
IOBUF PORT "io_vga_color_g[9]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[10]" SITE "J6";
IOBUF PORT "io_vga_color_g[10]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_g[11]" SITE "H6";
IOBUF PORT "io_vga_color_g[11]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_g[11]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[0]" SITE "AD25";
IOBUF PORT "io_vga_color_b[0]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[1]" SITE "AC26";
IOBUF PORT "io_vga_color_b[1]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[2]" SITE "AB24";
IOBUF PORT "io_vga_color_b[2]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[3]" SITE "AB25";
IOBUF PORT "io_vga_color_b[3]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[4]" SITE "B3";
IOBUF PORT "io_vga_color_b[4]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[5]" SITE "C3";
IOBUF PORT "io_vga_color_b[5]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[6]" SITE "D3";
IOBUF PORT "io_vga_color_b[6]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[7]" SITE "B1";
IOBUF PORT "io_vga_color_b[7]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[8]" SITE "C2";
IOBUF PORT "io_vga_color_b[8]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[8]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[9]" SITE "D2";
IOBUF PORT "io_vga_color_b[9]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[9]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[10]" SITE "D1";
IOBUF PORT "io_vga_color_b[10]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[10]" IO_TYPE=LVCMOS33;

LOCATE COMP "io_vga_color_b[11]" SITE "E3";
IOBUF PORT "io_vga_color_b[11]" SLEWRATE=FAST;
IOBUF PORT "io_vga_color_b[11]" IO_TYPE=LVCMOS33;

// PMOD0

LOCATE COMP "io_pmod0_pin1" SITE "T25";
IOBUF PORT "io_pmod0_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin2" SITE "U25";
IOBUF PORT "io_pmod0_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin3" SITE "U24";
IOBUF PORT "io_pmod0_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin4" SITE "V24";
IOBUF PORT "io_pmod0_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin7" SITE "T26";
IOBUF PORT "io_pmod0_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin8" SITE "U26";
IOBUF PORT "io_pmod0_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin9" SITE "V26";
IOBUF PORT "io_pmod0_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod0_pin10" SITE "W26";
IOBUF PORT "io_pmod0_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod0_pin10" IO_TYPE=LVCMOS33;

// PMOD1

LOCATE COMP "io_pmod1_pin1" SITE "U23";
IOBUF PORT "io_pmod1_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin2" SITE "V23";
IOBUF PORT "io_pmod1_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin3" SITE "U22";
IOBUF PORT "io_pmod1_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin4" SITE "V21";
IOBUF PORT "io_pmod1_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin7" SITE "W25";
IOBUF PORT "io_pmod1_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin8" SITE "W24";
IOBUF PORT "io_pmod1_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin9" SITE "W23";
IOBUF PORT "io_pmod1_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod1_pin10" SITE "W22";
IOBUF PORT "io_pmod1_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod1_pin10" IO_TYPE=LVCMOS33;

// PMOD2

LOCATE COMP "io_pmod2_pin1" SITE "J24";
IOBUF PORT "io_pmod2_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin2" SITE "H22";
IOBUF PORT "io_pmod2_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin3" SITE "E21";
IOBUF PORT "io_pmod2_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin4" SITE "D18";
IOBUF PORT "io_pmod2_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin7" SITE "K22";
IOBUF PORT "io_pmod2_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin8" SITE "J21";
IOBUF PORT "io_pmod2_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin9" SITE "H21";
IOBUF PORT "io_pmod2_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod2_pin10" SITE "D22";
IOBUF PORT "io_pmod2_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod2_pin10" IO_TYPE=LVCMOS33;

// PMOD3

LOCATE COMP "io_pmod3_pin1" SITE "E4";
IOBUF PORT "io_pmod3_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin2" SITE "F4";
IOBUF PORT "io_pmod3_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin3" SITE "E6";
IOBUF PORT "io_pmod3_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin4" SITE "H4";
IOBUF PORT "io_pmod3_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin7" SITE "F3";
IOBUF PORT "io_pmod3_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin8" SITE "D4";
IOBUF PORT "io_pmod3_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin9" SITE "D5";
IOBUF PORT "io_pmod3_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod3_pin10" SITE "F5";
IOBUF PORT "io_pmod3_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod3_pin10" IO_TYPE=LVCMOS33;

// PMOD4

LOCATE COMP "io_pmod4_pin1" SITE "E26";
IOBUF PORT "io_pmod4_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin2" SITE "D25";
IOBUF PORT "io_pmod4_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin3" SITE "F26";
IOBUF PORT "io_pmod4_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin4" SITE "F25";
IOBUF PORT "io_pmod4_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin7" SITE "C26";
IOBUF PORT "io_pmod4_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin8" SITE "C25";
IOBUF PORT "io_pmod4_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin9" SITE "A25";
IOBUF PORT "io_pmod4_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod4_pin10" SITE "A24";
IOBUF PORT "io_pmod4_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod4_pin10" IO_TYPE=LVCMOS33;

// PMOD5

LOCATE COMP "io_pmod5_pin1" SITE "D19";
IOBUF PORT "io_pmod5_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin2" SITE "C21";
IOBUF PORT "io_pmod5_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin3" SITE "B21";
IOBUF PORT "io_pmod5_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin4" SITE "C22";
IOBUF PORT "io_pmod5_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin7" SITE "D21";
IOBUF PORT "io_pmod5_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin8" SITE "A21";
IOBUF PORT "io_pmod5_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin9" SITE "A22";
IOBUF PORT "io_pmod5_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod5_pin10" SITE "A23";
IOBUF PORT "io_pmod5_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod5_pin10" IO_TYPE=LVCMOS33;

// PMOD6

LOCATE COMP "io_pmod6_pin1" SITE "C16";
IOBUF PORT "io_pmod6_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin2" SITE "B17";
IOBUF PORT "io_pmod6_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin3" SITE "C18";
IOBUF PORT "io_pmod6_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin4" SITE "B19";
IOBUF PORT "io_pmod6_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin7" SITE "A17";
IOBUF PORT "io_pmod6_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin8" SITE "A18";
IOBUF PORT "io_pmod6_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin9" SITE "A19";
IOBUF PORT "io_pmod6_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod6_pin10" SITE "C19";
IOBUF PORT "io_pmod6_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod6_pin10" IO_TYPE=LVCMOS33;

// PMOD7

LOCATE COMP "io_pmod7_pin1" SITE "D14";
IOBUF PORT "io_pmod7_pin1" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin1" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin2" SITE "B14";
IOBUF PORT "io_pmod7_pin2" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin2" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin3" SITE "E14";
IOBUF PORT "io_pmod7_pin3" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin3" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin4" SITE "B16";
IOBUF PORT "io_pmod7_pin4" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin4" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin7" SITE "C14";
IOBUF PORT "io_pmod7_pin7" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin7" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin8" SITE "A14";
IOBUF PORT "io_pmod7_pin8" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin8" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin9" SITE "A15";
IOBUF PORT "io_pmod7_pin9" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin9" IO_TYPE=LVCMOS33;

LOCATE COMP "io_pmod7_pin10" SITE "A16";
IOBUF PORT "io_pmod7_pin10" SLEWRATE=FAST;
IOBUF PORT "io_pmod7_pin10" IO_TYPE=LVCMOS33;
